body{
    text-align: center;
    background-color:whitesmoke;
}
button{
    padding: 10px 15px;
    background-color:aqua;
}
.user_input{
    width: 150px;
    height: 30px;
    border-radius:4px;
    border: 3px solid black;
    margin-bottom: 6px;


}
.recover{
font-size: medium;
}
p{
    color: blue;
}
#para{
    color:navy;
}