body{
    text-align: center;
     font-family:cursive ;
}
h1{
    font-size: 3rem;
}
button {
    background-color:palegreen;
    border: 1px solid;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 25px;
    border-radius: 5px;
}
.changeby{
    width:8rem;
    height :2rem;
    font-size: 15px;
    margin: 16px 8px;
    background-color: pink;
}
#set{
    background-color: aqua;}